[submodule "decml"]
	path = decml
	url = git@github.com:edisonm/decml.git
[submodule "idfpml"]
	path = idfpml
	url = git@github.com:edisonm/idfpml.git
[submodule "stchecks"]
	path = stchecks
	url = git@github.com:edisonm/stchecks.git
