[submodule "decml"]
	path = decml
	url = git@github.com:edisonm/decml.git
[submodule "idfpml"]
	path = idfpml
	url = git@github.com:edisonm/idfpml.git
[submodule "stchecks"]
	path = stchecks
	url = git@github.com:edisonm/stchecks.git
[submodule "assertions"]
	path = assertions
	url = git@github.com:edisonm/assertions.git
[submodule "xlibrary"]
	path = xlibrary
	url = git@github.com:edisonm/xlibrary.git
[submodule "xtools"]
	path = xtools
	url = git@github.com:edisonm/xtools.git
